table {
	border-collapse: collapse;
}

td {
	border: 1px dotted black; /*Shorthand*/
	/* border-color: black;
    border-width: 1px;
    border-style: dotted; */
	padding: 5px;
	text-align: center;
}

th {
	background-color: #444;
	color: #fff;
}

tfoot {
	background-color: brown;
}
